<%- include("header.ejs") %>

<div class="row flex-lg-row align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="images/AboutUs.jpg" width="400" class="d-block mx-lg-auto mx-auto img-fluid" Loading="lazy" alt="Cooking image">
    </div>
    <div class="col-12 col-lg-6">

        <h1 class="display-5 fw-bold mb-3">About Us</h1>
        <p class="lead">
            Forget fancy kitchens and gourmet ingredients. My kitchen is all about turning everyday food into mouthwatering magic. It's where spices whisper secrets to sizzling pans, where simmering pots tell stories of family recipes, and where leftovers get an epic makeover. Here, every meal is an adventure, a chance to explore different cultures and flavors, all without any star ratings or food snobbery. I cook from the heart, using Grandma's wisdom and a pinch of love to whip up dishes that'll make you swear they came straight from a fancy restaurant. So grab a fork, pull up a chair, and get ready to taste the world at my table. It's more than just food, it's a delicious story waiting to be devoured.
            <br><br>
            I grew up in a family where every meal was a celebration, and I inherited a love for cooking that passed through generations. My blog is dedicated to creating simple, delicious recipes that anyone can make, without sacrificing flavor or quality. I believe that food should be a source of joy and connection, and I hope my recipes inspire you to gather around the table and share a meal with the people you love.
        </p>
    </div>
</div>


<%- include("footer.ejs") %>