<%- include("header.ejs") %>


<div class="d-flex mb-2 align-items-center">
    <h2>Categories Gallore</h2>
</div>

<!-- Categories Start -->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <a href="/category/Indian" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Indian_food.jpg" alt="Indian Food" loading="lazy">
        </div>
        <div class="pt-1">Indian</div>
    </a>
    
    <a href="/category/Chinese" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Chinese_food.jpg" alt="Chinese Food" loading="lazy">
        </div>
        <div class="pt-1">Chinese</div>
    </a>
    <a href="/category/Mexican" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Mexican_food.jpg" alt="Mexican Food" loading="lazy">
        </div>
        <div class="pt-1">Mexican</div>
    </a>
    <a href="/category/Spanish" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Spanish_food.jpg" alt="Spanish Food" loading="lazy">
        </div>
        <div class="pt-1">Spanish</div>
    </a>
    <a href="/category/Italian" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Italian_food.jpg" alt="Italian Food" loading="lazy">
        </div>
        <div class="pt-1">Italian</div>
    </a>
    <a href="/category/Japanese" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Japanese_food.jpg" alt="Japanese Food" loading="lazy">
        </div>
        <div class="pt-1">Japanese</div>
    </a>
    <a href="/category/Mediterranean" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Mediterranean_food.jpg" alt="Mediterranean Food" loading="lazy">
        </div>
        <div class="pt-1">Mediterranean</div>
    </a>
    <a href="/category/Thai" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Thai_food.jpg" alt="Thai Food" loading="lazy">
        </div>
        <div class="pt-1">Thai</div>
    </a>
    <a href="/category/American" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/American_food.jpg" alt="American Food" loading="lazy">
        </div>
        <div class="pt-1">American</div>
    </a>
    <a href="/category/Greek" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Greek_food.jpg" alt="Greek Food" loading="lazy">
        </div>
        <div class="pt-1">Greek</div>
    </a>
    <a href="/category/German" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/German_food.jpg" alt="German Food" loading="lazy">
        </div>
        <div class="pt-1">German</div>
    </a>
    <a href="/category/Egyptian" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Egyptian_food.jpg" alt="Egyptian Food" loading="lazy">
        </div>
        <div class="pt-1">Egyptian</div>
    </a>
    <a href="/category/Turkish" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Turkish_food.jpg" alt="Turkish Food" loading="lazy">
        </div>
        <div class="pt-1">Turkish</div>
    </a>
    <a href="/category/Filipino" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Filipino_food.jpg" alt="Filipino Food" loading="lazy">
        </div>
        <div class="pt-1">Filipino</div>
    </a>
    <a href="/category/Portuguese" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Portuguese_food.jpg" alt="Portuguese Food" loading="lazy">
        </div>
        <div class="pt-1">Portuguese</div>
    </a>
    <a href="/category/Vietnamese" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Vietnamese_food.jpg" alt="Vietnamese Food" loading="lazy">
        </div>
        <div class="pt-1">Vietnamese</div>
    </a>
    <a href="/category/Korean" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Korean_food.jpg" alt="Korean Food" loading="lazy">
        </div>
        <div class="pt-1">Korean</div>
    </a>
    <a href="/category/Russian" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="images/Russian_food.jpg" alt="Russian Food" loading="lazy">
        </div>
        <div class="pt-1">Russian</div>
    </a>
    
</div>
<!-- Categories End -->


<%- include("footer.ejs") %>